"*":
  "atom-beautify":
    general:
      _analyticsUserId: "dd11ce2f-53bf-4614-b06a-6f276525eb4d"
    js:
      end_with_comma: true
      end_with_newline: true
  "atom-ide-ui":
    "atom-ide-diagnostics-ui":
      showDiagnosticTraces: true
  "atom-terminal":
    app: "iTerm.app"
    args: "."
  "auto-close-html2":
    enabledFileTypes: [
      "html"
      "ftl"
      "jsx"
    ]
    selfCloseTags: [
      "br"
      "img"
      "hr"
      "#case"
      "#default"
      "#break"
    ]
  autosave:
    enabled: true
  core:
    allowPendingPaneItems: false
    closeDeletedFileTabs: true
    customFileTypes:
      "source.css.less": [
        "mcss"
      ]
    disabledPackages: [
      "double-tag"
      "keybinding-resolver"
    ]
    openEmptyEditorOnStart: false
    reopenProjectMenuCount: 20
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "atom-dark-syntax"
    ]
  "dbclick-tree-view":
    enableOnFile: false
  docblockr:
    extra_tags: [
      "@date"
    ]
  editor:
    fontFamily: "monaco"
    fontSize: 21
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "f54dbe67-33e5-459c-a235-674198299ab5"
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "linter-ui-default":
    panelHeight: 138
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    scrollAnimation: true
  "seti-ui":
    compactView: true
  "tree-view":
    autoReveal: true
  "tree-view-click":
    enableOnFile: false
  "vim-mode-plus":
    autoSelectPersistentSelectionOnOperate: false
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    ignoreCaseForFind: true
    ignoreCaseForSearch: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
  welcome:
    showOnStartup: false
".lisp.source":
  editor:
    showIndentGuide: false
rce:
  editor:
    showIndentGuide: false
