"*":
  "atom-beautify":
    general:
      _analyticsUserId: "dd11ce2f-53bf-4614-b06a-6f276525eb4d"
    js:
      end_with_comma: true
      end_with_newline: true
  "atom-clock":
    dateFormat: "YYYY-MM-DD HH:mm:ss"
    locale: "zh-cn"
    refreshInterval: 1
    showTooltip: true
  "atom-ide-ui":
    "atom-ide-code-format": {}
    "atom-ide-diagnostics-ui":
      autoVisibility: true
      showDiagnosticTraces: true
      showDirectoryColumn: true
      useExperimentalUi: true
    use: {}
  "atom-package-deps":
    ignored: [
      "linter-eslint"
      "go-signature-statusbar"
    ]
  "atom-terminal":
    app: "iTerm.app"
    args: "."
  "auto-close-html2":
    enabledFileTypes: [
      "html"
      "ftl"
      "jsx"
    ]
    selfCloseTags: [
      "br"
      "img"
      "hr"
      "#case"
      "#default"
      "#break"
      "#else"
      "#elseif"
      "@include"
    ]
    slashTriggerAutoClose: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  autosave:
    enabled: true
  "backspace-until-not-whitespace": {}
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.css.less": [
        "mcss"
      ]
    debugLSP: false
    disabledPackages: [
      "keybinding-resolver"
      "open-on-github"
      "linter"
      "atom-terminal"
    ]
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "desktop.ini"
      ".pioenvs"
      ".piolibdeps"
      ".clang_complete"
      ".gcc-flags.json"
    ]
    openEmptyEditorOnStart: false
    reopenProjectMenuCount: 20
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "seti-syntax"
    ]
  docblockr:
    extra_tags: [
      "@date {{date}}"
      "@author yubaoquan"
    ]
    extra_tags_go_after: true
  editor:
    fontFamily: "Monaco"
    fontSize: 15
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "f54dbe67-33e5-459c-a235-674198299ab5"
  "file-icons":
    coloured: false
  "find-and-replace":
    scrollToResultOnLiveSearch: true
  "git-control":
    showGitFlowButton: false
  "git-plus":
    diffs:
      wordDiff: true
    experimental:
      useSplitDiff: true
    remoteInteractions:
      pullBeforePush: true
  github:
    viewChangesForCurrentFileDiffPaneSplitDirection: "right"
  "linter-tslint":
    fixOnSave: true
  "linter-ui-default":
    panelHeight: 138
    useBusySignal: false
  minimap:
    plugins:
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
    scrollAnimation: true
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
    style:
      defaultPanelHeight: "150px"
      fontSize: "15"
    toggles:
      autoClose: true
  "seti-ui":
    compactView: true
  "split-diff":
    ignoreWhitespace: true
    syncHorizontalScroll: true
    turnOffSoftWrap: true
  "tool-bar":
    position: "Left"
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
  "tree-view-click":
    allowPending: false
  "tree-view-frequent-menu":
    delete: true
    mode: "singleButton"
    newFile: true
    singleButtonType: "delete"
  "tree-view-menu":
    askForSureBeforeDelete: false
    collapse: true
    "collapseOtherFolders-alias": " CoOther"
    commandToDispatch: "atom-terminal:open"
    copy: true
    delete: true
    "dispatch-alias": "terminal"
    "findAndReplace-alias": " Find"
    ignore: true
    keepSearchTextAfterSearch: true
    menuButtonWidth: 70
    menuWidth: 250
    newFile: true
    "newFile-alias": "File"
    newFolder: true
    "newFolder-alias": "Folder"
    paste: true
    rename: true
    searchInDirectory: true
    "searchInDirectory-alias": " Search"
    singleButtonType: "delete"
    terminal: true
    terminalApp: "iTerm.app"
  "vim-mode-plus":
    autoSelectPersistentSelectionOnOperate: false
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    ignoreCaseForFind: true
    ignoreCaseForSearch: true
    keymapCCToChangeInnerSmartWord: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
    notifiedCoffeeScriptNoLongerSupportedToExtendVMP: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnHalfScrollMotion: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    autoIndent: true
".js.source":
  editor:
    autoIndent: true
".lisp.source":
  editor:
    showIndentGuide: false
".source.ts":
  editor:
    showIndentGuide: true
    showInvisibles: true
rce:
  editor:
    showIndentGuide: false
